@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: url('cursor-blue.png'), auto;; 
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
a:hover,
button:hover,
.read-more-btn:hover,
.back-to-blog-btn:hover,
.category-btn:hover,
.newsletter-btn:hover {
    cursor: url('image.png') 8 8, auto; 
}